:root {
  /* --primary: #06A3DA; */
  --primary: #c83939;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #091e3e;
}
/** typography*/
h1,
h2,
.fw-bold {
  font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
  font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 600 !important;
}
.header-light {
  font-weight: 500 !important;
}
/* button*/
.btn {
  font-family: nunito, Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn-primary,
.btn-secondary {
  color: #fff;
  box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
  box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
/*navigation-bar*/
.nav-tabs .nav-link {
  color: var(--primary);
}
.navbar-dark .navbar-nav .nav-link {
  font-family: nunito, Arial, Helvetica, sans-serif;
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: 0.5s;
}
.navbar-dark-2 .navbar-nav .nav-link {
  font-family: nunito, Arial, Helvetica, sans-serif;
  margin-left: 25px;
  padding: 35px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link.active-page,
.navbar-dark-2 .navbar-nav .nav-link.active-page {
  color: var(--primary);
}

.sticky-top.navbar-dark .navbar-nav .nav-link,
.sticky-top.navbar-dark-2 .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--light) !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark-2 .navbar-nav .nav-link:hover,
.navbar-dark-2 .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

/* .navbar-dark .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-brand img {
  max-height: 45px;
} */

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark,
  .sticky-top.navbar-dark-2 {
    position: relative;
    background: #222;
  }

  .navbar-dark .navbar-collapse,
  .navbar-dark-2 .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #ddd;
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link,
  .navbar-dark-2 .navbar-nav .nav-link,
  .sticky-top.navbar-dark-2 .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--light) !important;
  }

  .navbar-dark .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: #222222f3;
  }

  .navbar-dark .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
  }

  .navbar-dark .navbar-nav .nav-link:hover::before,
  .navbar-dark .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-dark .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }
}
/*slides*/
.bg-third {
  background-color: rgb(250, 55, 55, 0.98);
}
.text-third {
  color: rgb(250, 55, 55, 0.98);
}

/*dropdown*/
.dropdown-item:hover,
.dropdown-item:active {
  color: var(--primary);
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 30, 62, 0.7);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.section-title-1::before,
.section-title-2::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title-2::before {
  height: 1px;
}

.section-title-1.text-center::before,
.section-title-2.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title-1.section-title-sm::before,
.section-title-2.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title-2.section-title-sm::before {
  height: 1px;
}

.section-title-1::after,
.section-title-2::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0;
  background: #fff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title-2::after {
  bottom: -2px;
  background: var(--primary);
}

.section-title-1.section-title-sm::after,
.section-title-2.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title-2.section-title-sm::after {
  bottom: -1px;
}

.section-title-1.text-center::after,
.section-title-2.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title-1.section-title-sm::after,
.section-title-2.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@keyframes section-title-run {
  0% {
    left: 0;
  }

  50% {
    left: 145px;
  }

  100% {
    left: 0;
  }
}

@keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }

  50% {
    left: 50%;
    margin-left: 70px;
  }

  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@keyframes section-title-run-sm {
  0% {
    left: 0;
  }

  50% {
    left: 85px;
  }

  100% {
    left: 0;
  }
}

/*callout-section*/
.bg-danger-gradient {
  background: linear-gradient(
    #c83939,
    rgba(255, 0, 0, 0.856),
    rgba(255, 0, 0, 0.438)
  );
}
/*services section*/
.service-item {
  position: relative;
  height: 500px;
  padding: 0 30px;
  transition: 0.5s;
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 5px;
  /* transform: rotate(-45deg); */
}

.service-item .service-icon i {
  /* transform: rotate(45deg); */
  font-size: 20px;
}

.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}

/*testimonial section*/

/*testimonial end*/
.team-item {
  transition: 0.5s;
}

.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.team-item:hover {
  box-shadow: 0 0 30px #ddd;
}

.team-item:hover .team-social {
  background: rgba(9, 30, 62, 0.7);
}

.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.15s;
}

.team-item .team-img img,
.blog-item .blog-img img {
  transition: 0.5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
  transform: scale(1.15);
}
/*process icons*/
.process-icon {
  width: 75px;
  height: 75px;
}

.process-item .position-relative::after {
  position: absolute;
  content: "\f101";
  font-family: "font awesome 5 free", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #ddd;
  top: 0;
  right: -45px;
  -webkit-animation: process-item-icon 3s infinite linear;
  animation: process-item-icon 3s infinite linear;
}

@keyframes process-item-icon {
  0% {
    right: -30px;
  }

  50% {
    right: -45px;
  }

  100% {
    right: -30px;
  }
}

.process-item:last-child .position-relative::after {
  display: none;
}

@media (max-width: 992px) {
  .process-item:nth-child(2) .position-relative::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .process-item .position-relative::after {
    display: none;
  }
}
/*process icon end*/
.accordion-custom .accordion-item {
  border: none;
  margin-bottom: 15px;
}

.accordion-custom .accordion-button {
  background: var(--light);
  border-radius: 2px;
}

.accordion-custom .accordion-button:not(.collapsed) {
  color: #fff;
  background: var(--primary);
  box-shadow: none;
}

.accordion-custom .accordion-button:not(.collapsed)::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nI2ZmZic+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Jy8+PC9zdmc+);
}

.accordion-custom .accordion-body {
  padding: 15px 0 0;
}

@media (min-width: 991.98px) {
  .facts {
    position: relative;
    margin-top: -75px;
    z-index: 1;
  }
}

.progress {
  height: 5px;
}

.progress .progress-bar {
  width: 0;
  transition: 2s;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*hero section for the home page*/

.hero-header {
  background: url(../img/hero-header.jpg) top right no-repeat;
  background-image: image-set(
    "../img/hero-header.webp",
    "../img/hero-header.jpg"
  );
  background-image: -webkit-image-set(
    "../img/hero-header.webp",
    "../img/hero-header.jpg"
  );
  background-size: cover;
}

/*hero section for our-services and our our-projects page*/

.hero-header-2 {
  background: url(../img/hero-header-cropped.jpg) top right no-repeat;
  background-image: image-set(
    "../img/hero-header-cropped.webp",
    "../img/hero-header-cropped.jpg"
  );
  background-image: -webkit-image-set(
    "../img/hero-header-cropped.webp",
    "../img/hero-header-cropped.jpg"
  );
  background-size: cover;
  height: 20vh;
}

@media screen and (max-width: 768px) {
  .hero-header-2 {
    background: url(../img/hero-header-cropped-small.jpg) top right no-repeat;
    background-image: image-set(
      "../img/hero-header-cropped-small.webp",
      "../img/hero-header-cropped-small.jpg"
    );
    background-image: -webkit-image-set(
      "../img/hero-header-cropped-small.webp",
      "../img/hero-header-cropped-small.jpg"
    );
    background-size: cover;
    height: 20vh;
  }
}

.hero-header-2,
.hero-header-2-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link-animated a {
  transition: 0.5s;
}

.link-animated a:hover {
  padding-left: 10px;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 767.98px) {
  .footer-about {
    margin-bottom: -75px;
  }
}

.button-example .btn {
  margin: 0.25rem 0.125rem;
}

/*home button*/
.home-content {
  font-size: 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.home-content::after {
  content: " Home";
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-width: 0;
  white-space: nowrap;
  display: inline-block;
}

.home-content:hover::after {
  max-width: 100%;
  opacity: 1;
}

/*registration to noxyt biashara*/
input,
textarea,
select {
  outline: none;
  border: 1px solid rgba(173, 173, 173, 0.438);
  border-radius: 10px;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  opacity: 0.8;
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px 0 #01337e;
}
.small-text {
  font-size: 12px;
  line-height: 1;
}
.small-text:hover {
  opacity: 0.8;
}
input[type="checkbox"] {
  accent-color: red;
}

/*our testimonial section*/
.testimonial-section {
  margin-top: 40px;
  background-color: white;
  color: #444;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #bbb;
}
.testimonial-container {
  width: 100%;
  margin: auto;
}
.testimonial-subcontainer {
  width: 85%;
  margin: auto;
}
.testimonial-wrapper {
  width: 100%;
  height: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 40px;
}
.slide-img {
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid lightgray;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 5px #bbb;
}
.img-1 {
  background: url(../img/testimonial-1.jpg) top right no-repeat;
  background-image: image-set(
    "../img/testimonial-1.webp",
    "../img/testimonial-1.jpg"
  );
  background-image: -webkit-image-set(
    "../img/testimonial-1.webp",
    "../img/testimonial-1.jpg"
  );
  background-size: cover;
}
.img-2 {
  background: url(../img/testimonial-2.jpg) top right no-repeat;
  background-image: image-set(
    "../img/testimonial-2.webp",
    "../img/testimonial-2.jpg"
  );
  background-image: -webkit-image-set(
    "../img/testimonial-2.webp",
    "../img/testimonial-2.jpg"
  );
  background-size: cover;
}
.img-3 {
  background: url(../img/testimonial-3.jpg) top right no-repeat;
  background-image: image-set(
    "../img/testimonial-3.webp",
    "../img/testimonial-3.jpg"
  );
  background-image: -webkit-image-set(
    "../img/testimonial-3.webp",
    "../img/testimonial-3.jpg"
  );
  background-size: cover;
}
.img-4 {
  background: url(../img/testimonial-4.jpg) top right no-repeat;
  background-image: image-set(
    "../img/testimonial-4.webp",
    "../img/testimonial-4.jpg"
  );
  background-image: -webkit-image-set(
    "../img/testimonial-4.webp",
    "../img/testimonial-4.jpg"
  );
  background-size: cover;
}
.slider-wrapper {
  width: 100%;
}
.slide {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-style: italic;
  padding: 0 20px;
}
.slide p {
  padding-bottom: 40px;
}
.previous,
.next {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid white;
  background-color: var(--primary);
  box-shadow: 0 0 5px #bbb;
  color: white;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.previous {
  left: 0%;
}
.next {
  right: 0%;
}

.previous:hover,
.next:hover {
  background-color: white;
  color: black;
}
.tns-nav {
  text-align: center;
}
.tns-nav button {
  border: none;
  padding: 8px;
  margin: 0 15px;
  border-radius: 50%;
}
.tns-nav .tns-nav-active {
  background-color: gray;
}
/*ends*/
/*partners sliders*/
.partners-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-slider {
  width: 1000px;
  height: 180px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}
.partners-slide {
  height: 200px;
  display: flex;
  align-items: center;
  animation: slideshow 20s linear infinite;
}
.partners-slide img {
  height: 80px;
  padding: 0 30px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.partners-slider::before,
.partners-slider::after {
  height: 200px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.partners-slider::before {
  left: 0;
  top: 0;
}
.partners-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
/*partners slider end*/

/*maps section*/

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  margin-top: 10px;
  border-radius: 5px;
}

/*contents for our services and our projects page*/
.details-img {
  border-radius: 10px;
  max-width: 500px;
}

.details-content {
  color: #444;
  font-size: 1.1rem;
}
